*{
  box-sizing: border-box;
}

#root {
  font-family:'Times New Roman', Times, serif;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
}

body{
  background:url(./assets/pexels-pixabay-87009.jpg);
  background-position: 0;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width:1200px) {
h1{
  font-size: 4rem;
}
}

@media screen and (max-width:900px){
.inputs-container{
  display: flex;
  flex-direction: row;
}
}

@media screen and (max-width:576px){
  h1{
    font-size: 2rem;
  }

  .buttons-container{
    display: flex;
    flex-direction: column;
  }
}

h1 {
  color:white;
  text-align: center;
  text-transform: uppercase;
  color:gold;
}

.container {
  margin: 1rem auto;
  width: 80%;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  /* position: sticky; */
  top: 0;

}

.inputs-container label {
  margin-top: 10px;
  font-weight: bold;
  color: white;
  display: flex;
  flex-direction: column;
}

.inputs-container input[type="date"] {
  margin-top: 5px;
  padding: 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}

input:invalid + span::after {
  content:"✖"
}

input:valid + span::after {
  content: "✓";
}

span::after{
  color:red;
  padding-left:1rem ;
}

.buttons-container {
  margin-top: 10px;
  
}

.buttons-container button {
  margin: 5px;
  padding: 8px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buttons-container button:hover {
  background-color: #0056b3;
}

#reset:hover {
  background-color: red;
  border: 4px solid red;
}
#randome:hover {
  background-color:  #0056b3;
  border: 4px solid  #0056b3;
}



.photo, .photo2 {
  margin-top: 20px;
  padding: 10px;
  background-color: #f4f4f4;
  border-radius: 5px;
display: flex;
flex-direction: column;
align-items: center;
}

img{
width: 50%;
}

img:hover{
    filter: brightness(1.2);
    transform: scale(1.5) ;
    /* transform: rotate(360deg),scale(130%); */
    
    position: absolute;
    top:11rem;
}

.photo img, .photo2 img {
  max-width: 100%;
  border-radius: 5px;
}


.photo h3, .photo2 h3 {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.photo p, .photo2 p {
  margin-top: 10px;
  text-align: justify;
  display: flex;
  justify-content: center;
}

a{
  text-align: center;
  color:white;
  text-decoration: none;
}
