#root {
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body{
  background-color: rgb(3, 3, 116);
}

h1{
  margin: 0;
  display: flex;
  font-size: 3rem;
  color: yellow;
  text-transform:uppercase;
  justify-content: center;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputs-container{
  height: 5rem;
  width: 100vw;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* flex-direction: column; */
  top:0;
  position:sticky;
  background-color: rgba(255, 255, 255, .15);  
  backdrop-filter: blur(5px);
}

.buttons-container{
  display: flex;
  /* flex-direction: column; */
  align-items: center;
}


input{
  text-align: justify;
  height: 1rem;
  width: fit-content;
	position: relative;
	display: inline-block;
	padding: 15px 25px;
	background-color: green; /*for compatibility with older browsers*/
	background-image: linear-gradient(green,lightgreen);
  border-radius: 3px;
  box-shadow: 0px 1px 4px -2px #333;
  text-shadow: 0px -1px #333;
	/* text styles */
	text-decoration: none;
	color: #fff;
	font-size: 1rem;
	font-family: sans-serif;
	font-weight: 100;
}

input:hover{
	background: linear-gradient(#073,#0fa);
}

input:after {
  content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	width: calc(100% - 4px);
	height: 50%;
	background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.2));
}

label{
  text-align: center;
  text-transform: uppercase;
}


h2{
  color: white;
}

h3{
  width: 100%;
  color: yellow;
  text-transform:uppercase;
  text-align: center;
}

h4{
  text-transform:uppercase;
  text-align: center;
  width: 100%;
  color: yellow;
}

p{
  color:white;
  text-align: justify;
}

.photo  {
  width: 100%;
  /* padding: 3rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo2 {
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: center;
flex-direction: column;
align-items: center;
}

#randome,#reset{
  height: 3rem;
  width: fit-content;
	position: relative;
	display: inline-block;
	padding: 15px 25px;
	background-color: green; /*for compatibility with older browsers*/
	background-image: linear-gradient(green,lightgreen);

  border-radius: 3px;
box-shadow: 0px 1px 4px -2px #333;
text-shadow: 0px -1px #333;
	/* text styles */
	text-decoration: none;
	color: #fff;
	font-size: 1rem;
	font-family: sans-serif;
	font-weight: 100;
} 

#reset:hover{
	background: linear-gradient(#073,#0fa);
}

#randome:hover{
	background: linear-gradient(#073,#0fa);
}

#reset:after{
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	width: calc(100% - 4px);
	height: 50%;
	background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.2));
}

#randome:after{
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	width: calc(100% - 4px);
	height: 50%;
	background: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.2));
}